<h4 class="title-admin">Liste des articles</h4>
<span class="fa-stack fa-lg right">
   <a href=""><i class="fa fa-plus"></i></a>
</span>
<br>

<div class="responsive-table-line">
   <table class="table table-hover tab-article">
      <thead class="thead-dark">
         <tr>
            <th scope="col">#</th>
            <th scope="col">Date de création</th>
            <th scope="col">titre</th>
            <th scope="col">N° de commentaires</th>
            <th scope="col">Action</th>
         </tr>
      </thead>
      <tbody>

      {% for post in allpost %}
         <tr>
            <th data-title="#" scope="row">{{post.id_post}}</th>
            <td data-title="Date de création">{{post.create_date |date("d-m-Y")}}</td>
            <td data-title="titre">{{post.title}}</td>
            <td data-title="N° de commentaires">{{post.comments | length}}</td>
            <td data-title="Action">
               <a href="index.php?post=administration&action=deletePost&id={{post.id_post}}#articles"><button class="btn btn-danger btn-table">Supprimer</button></a> 
               <a href=""><button class="btn btn-warning btn-table">Modifier</button></a> 
            </td>
         </tr>
      {% endfor %}
   
      </tbody>
   </table>
</div>


