<h4>Liste des commentaires</h4>
<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
   <li class="nav-item">
      <a class="nav-link active" id="inwait-tab" href="index.php?post=administration#comments" role="tab" aria-controls="inwait">En attente</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" id="valid-tab" href="index.php?post=administration#commentsValid" role="tab" aria-controls="valid">Validé</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" id="invalid-tab" href="index.php?post=administration#commentsInvalid" role="tab" aria-controls="invalid">Refusé</a>
   </li>
</ul>
<div class="tab-content">
   <div class="tab-pane active" id="inwait"  aria-labelledby="inwait-tab">
      <table class="table table-hover tab-comment">
         <thead class="thead-dark">
            <tr>
               <th scope="col">#</th>
               <th scope="col">Date de création</th>
               <th scope="col">Commentaire</th>
               <th scope="col">Utilisateur</th>
               <th scope="col">Action</th>
            </tr>
         </thead>
         <tbody>
            {% for comment in allComment %}
               <tr>
                  {% if  comment.status == "inwait" %}
                     <th scope="row">{{comment.id_comment}}</th>
                     <td>{{comment.create_date |date("d-m-Y")}}</td>
                     <td>{{comment.text}}</td>
                     <td>{{comment.last_name}} {{comment.first_name}}</td>
                     <td>
                       <a href="index.php?post=administration&action=invalidComment&id={{comment.id_comment}}#comments"><button class="btn btn-danger btn-table">Refuser</button></a> 
                       <a href="index.php?post=administration&action=valideComment&id={{comment.id_comment}}#comments"><button class="btn btn-primary btn-table">Valider</button></a> 
                     </td>
                  {% endif %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="tab-pane" id="valid"  aria-labelledby="valid-tab">
      <table class="table table-hover tab-comment">
         <thead class="thead-dark">
            <tr>
               <th scope="col">#</th>
               <th scope="col">Date de création</th>
               <th scope="col">Commentaire</th>
               <th scope="col">Utilisateur</th>
               <th scope="col">Action</th>
            </tr>
         </thead>
         <tbody>
            {% for comment in allComment %}
               <tr>
                  {% if  comment.status == "valid" %}
                     <th scope="row">{{comment.id_comment}}</th>
                     <td>{{comment.create_date |date("d-m-Y")}}</td>
                     <td>{{comment.text}}</td>
                     <td>{{comment.last_name}} {{comment.first_name}}</td>
                     <td><a href="index.php?post=administration&action=invalidComment&id={{comment.id_comment}}#comments"><button
                           class="btn btn-danger btn-table">Refuser</button></a></td>
                  {% endif %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="tab-pane " id="invalid"  aria-labelledby="invalid-tab">
            <table class="table table-hover tab-comment">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Date de création</th>
                     <th scope="col">Commentaire</th>
                     <th scope="col">Utilisateur</th>
                     <th scope="col">Action</th>
                  </tr>
               </thead>
               <tbody>
                  {% for comment in allComment %}
                     <tr>
                        {% if  comment.status == "invalid" %}
                           <th scope="row">{{comment.id_comment}}</th>
                           <td>{{comment.create_date |date("d-m-Y")}}</td>
                           <td>{{comment.text}}</td>
                           <td>{{comment.last_name}} {{comment.first_name}}</td>
                           <td><a href="index.php?post=administration&action=valideComment&id={{comment.id_comment}}#comments"><button
                                 class="btn btn-primary btn-table">Valider</button></a></td>
                        {% endif %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
   </div>
</div>
